extends ../default.pug
block pageContent
	include ../templates/header.pug
	section.blogs-item_wrapper
		.container
			.row
				.col-md-2
					.blogs-item_prev-box
						a(class="blogs-item_prev-link" href="#")
							include ../../img/path-grey.svg
							| Назад
				.col-md-8
					h1.about-us_title.blogs-item_title Переезд или ремонт
				.col-md-2
			.row
				.col-md-12
					.blogs-item_box
						.blogs-item_img-box
							img(src="img/garage4.png", alt="")
						.blogs-item_info-box
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quibusdam ullam perspiciatis corporis molestias nisi iste, quis, rem accusantium inventore consectetur cupiditate quae, facilis sunt modi quisquam minima esse laborum perferendis aliquid fuga, porro ipsum molestiae! At totam perferendis voluptates deleniti enim, excepturi voluptate iusto repellat ipsa quis a, officia quae eveniet ex facilis quia fugit. Fuga ipsa odit id cum. Mollitia repellat ipsum earum neque temporibus voluptatum velit error! Assumenda excepturi sapiente delectus ducimus, dicta numquam amet ipsa vero, consequuntur odio laboriosam non ex, inventore repellat harum in sunt eveniet dolor earum error. Nulla earum incidunt, voluptas molestias nemo!
	include ../templates/footer.pug