doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Project
    link(href="css/libs.min.css" rel='stylesheet')
    link(href="css/main.css" rel='stylesheet')
    link(rel="stylesheet", href="libs/fancybox-master/dist/jquery.fancybox.css")
    body
        block pageContent
        script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-psPZR3IwZFLcHZ5lIYrE1tUhLId_sXs")
        script(src="js/libs.min.js")
        script(src="js/main.js")

