footer.footer
	.container.footer-mobile
		.row
			.col-xs-12
				div.footer_box-metro
					p
						img(src="img/metrolog-white.svg", alt="")
						| Лыбедская
					p +380 (67) 730-57-75
					p Железнодорожное шоссе, 25
			.col-xs-12
				div.footer_box-metro.footer_box-metro-two
					p
						img(src="img/metrolog-white.svg", alt="")
						| Лыбедская
					p +380 (67) 730-57-75
					p Железнодорожное шоссе, 25
			.col-xs-12
				ul.footer_social-items.footer_social-items-mobile
					li.footer_social-item
						a(href="#")
							img(src="../img/facebook-logo-button.svg", alt="")
					li.footer_social-item
						a(href="#")
							img(src="../img/instagram-logo.svg", alt="")
					li.footer_social-item
						a(href="#")
							img(src="../img/google-plus-logo-button.svg", alt="")
	.container.footer-desktop
		.row
			.col-md-6
				ul.footer_items
					li.footer_item Контакты и адрес
					li.footer_item +380 (67) 730-57-75
					li.footer_item welcome@tetrisbox.com.ua
					li.footer_item Железнодорожное шоссе, 25
			.col-md-4
			.col-md-2
				.footer_social-box
					ul.footer_social-items
						li.footer_social-item
							a(href="#")
								img(src="../img/facebook-logo-button.svg", alt="")
						li.footer_social-item
							a(href="#")
								img(src="../img/instagram-logo.svg", alt="")
						li.footer_social-item
							a(href="")
								img(src="../img/twitter-logo-button.svg", alt="")
						li.footer_social-item
							a(href="#")
								img(src="../img/google-plus-logo-button.svg", alt="")
div.footer_box-copyright.footer_box-copyright-mobile
	.container
		.row
			.col-xs-12
				div.footer_box-copyright-mobile_boxing
					p.footer_copyright-text Copyright © 2016-2018 - TetrisBOX
					p.footer_copyright-develop Developed by #[img(src="../img/logo.png", alt="")]
div.footer_box-copyright
	.container
		.row
			.col-md-4
			.col-md-4
				p.footer_copyright-text Copyright © 2016-2018 - TetrisBOX
			.col-md-4
				p.footer_copyright-develop Developed by #[img(src="../img/logo.png", alt="")]