header.header
	.container
		.row
			.col-md-4.col-xs-12
				.header-box_logo
					img(src="img/logo-site.png", alt="")
					.header-social_box-links
						.header-social_box-img-24-7
							img(src="img/24h-icon_redgrey.svg", alt="")
						.header-social_box-social-links
							a(href="#")
								img(src="img/viber.svg", alt="")
							a(href="#")
								img(src="img/telegram.svg", alt="")
							a(href="#")
								img(src="img/whatsapp.svg", alt="")
			.col-md-8.col-xs-12
				.header-nav_box
					nav.header-nav
						ul.header-nav_items
							li.header-nav_item
								a.header-nav_link(href="javascript:void(0)") Главная
							li.header-nav_item
								a.header-nav_link(href="javascript:void(0)") О нас
							li.header-nav_item
								a.header-nav_link(href="javascript:void(0)") Галерея
							li.header-nav_item
								a.header-nav_link(href="javascript:void(0)") FAQ
							li.header-nav_item
								a.header-nav_link(href="javascript:void(0)") Блог
							li.header-nav_item
								a.header-nav_link(href="javascript:void(0)") Контакты

					.header-social_box
						.header-mobile_box
							.header-social_box-metro
								p
									img(src="img/metrolog.svg", alt="")
									| Петровка
								p Просп. Степана Бандеры 20А
								p.header-social_box-metro-numb +380 96 323 33 33
							.header-social_box-metro
								p
									img(src="img/metrolog.svg", alt="")
									| Петровка
								p Просп. Степана Бандеры 20А
								p.header-social_box-metro-numb +380 96 323 33 33
						.header-social_box-links
							.header-social_box-img-24-7
								img(src="img/24h-icon_redgrey.svg", alt="")
							.header-social_box-social-links
								a(href="#")
									img(src="img/viber.svg", alt="")
								a(href="#")
									img(src="img/telegram.svg", alt="")
								a(href="#")
									img(src="img/whatsapp.svg", alt="")
						.header-social_box-switch
							ul.header-social_box-switch-items
								li.header-social_box-switch-item
									a(href="#")
										img(src="img/russia.svg", alt="")
										| RU
									ul.header-social_box-switch-items-dropbox
										li.header-social_box-switch-item
											a(href="#")
												img(src="img/united-kingdom.svg", alt="")
												| EN
										li.header-social_box-switch-item
											a(href="#")
												img(src="img/ukraine.svg", alt="")
												| UA
					.header-mobile_box
						.header-social_box-metro
							p
								img(src="img/metrolog.svg", alt="")
								| Петровка
							p Просп. Степана Бандеры 20А
							p.header-social_box-metro-numb +380 96 323 33 33
						.header-social_box-metro
							p
								img(src="img/metrolog.svg", alt="")
								| Петровка
							p Просп. Степана Бандеры 20А
							p.header-social_box-metro-numb +380 96 323 33 33

						.header-social_box-switch
							ul.header-social_box-switch-items
								li.header-social_box-switch-item
									a(href="#")
										img(src="img/russia.svg", alt="")
										| RU
									ul.header-social_box-switch-items-dropbox
										li.header-social_box-switch-item
											a(href="#")
												img(src="img/united-kingdom.svg", alt="")
												| EN
										li.header-social_box-switch-item
											a(href="#")
												img(src="img/ukraine.svg", alt="")
												| UA
					.content-hr
					.header-nav_page-links
						ul.header-nav_page-links-items
							li.header-nav_page-link-item
								a(href="#").header-nav_page-link-item-active Склад для дома
							li.header-nav_page-link-item
								a(href="#") Склад для бизнеса
							li.header-nav_page-link-item
								a(href="#") Контейнеры
							li.header-nav_page-link-item
								a(href="#") Шины