.blogs-item{
	&_title{
		margin-bottom: 60px;
	}
	&_img-box{
		height: 381px;
		margin-bottom: 130px;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&_info-box{
		color: #9E9E9E;
		font-family: Rubik-Regular;
		font-size: 21px;
		line-height: 26px;
	}
	&_wrapper{
		margin-bottom: 75px;
		& .row:first-child{
			display:flex;
			align-items: center;
			justify-content: center;
		}
	}
	&_prev-link{
		color: #4F4F4F;
		font-family: Rubik-Regular;
		font-size: 21px;
		line-height: 25px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&:hover{
			text-decoration:none;
			& svg{
				border-color:$main-color;
				background: $main-color;
				& g g{
					fill:#fff;
				}
			}
		}
	}
	&_prev-box{
		height: 100%;
		margin-bottom: 40px;
		& svg{
			transition: all 300ms;
			width: 30px;
			height: 30px;
			margin-right: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotateZ(180deg);
			border: solid 2px #4F4F4F;
			border-radius: 50%;
			padding: 3px 4px 3px 6px;
		}
	}
}
/**/
.blogs-item_prev-link svg{
	transform: rotateZ(0deg);
}
.blogs-item_prev-box svg{
	padding: 3px 6px 3px 5px;
}